<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>tecnologias</title>
</head>
<body>
    <header><h1>TRABALHO DE PROGRAMAÇÃO E TECNOLOGIAS PARA APLICAÇÕES SERVIDOR 3</h1></header>
    <div class="cards">
        <div class="card1">
            <h3>Tecnologias:</h3>
            <ul> 
                <li><i class="fas fa-code"></i>   Express.JS</li>
                <li><i class="fas fa-database"></i>   PostgresDB</li>
                <li><i class="fas fa-cogs"></i>   dotenv</li>
                <li><i class="fas fa-database"></i>   MySQL2</li>
                <li><i class="fas fa-terminal"></i>   Sequelize CLI</li>
                <li><i class="fas fa-sync-alt"></i>   Nodemon</li>
            </ul>
        </div>
        <div class="card2">
            <h3>Endpoints:</h3>
            <ul> 
                <li><i class="fa-solid fa-route" style="color: #ffffff;"></i>   '/user' (insert)</li>
                <li><i class="fa-solid fa-route" style="color: #ffffff;"></i>   '/users' (select)</li>
                <li><i class="fa-solid fa-route" style="color: #ffffff;"></i>   '/user/:id' (delete)</li>
                <li><i class="fa-solid fa-route" style="color: #ffffff;"></i>   '/user/:id' (update)</li>
                <li><i class="fa-solid fa-route" style="color: #ffffff;"></i>   '/user/authenticated'</li>
            </ul>
        </div>
    </div>
</body>
</html>